/*.radio-inline > input{
    cursor: pointer;
}*/
.radio-inline{
    vertical-align: top;
    padding-left: 0;
    margin-right: 5px;
}
input[type='radio']{
    margin-right: 10px;
}
.auto-fill-group{
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 12px;
}
.auto-fill-group:hover{
    background-color: lightgoldenrodyellow;
}
.pointable {
    cursor: pointer;
}

/*.ui-radio{
    display: inline-block;
}*/